---
# Gather the start time to use in a later playbook
- name: Record the machine_create_time
  delegate_to: 127.0.0.1
  register: machine_create_time_pre
  ansible.builtin.command:
    cmd: "date '+%H:%M:%S'"

# Make the start time available to other playbooks
- name: Capture machine instance start time
  ansible.builtin.set_stats:
    data:
      machine_create_time: "{{ machine_create_time_pre.stdout }}"

- name: Looking up Subnet_id
  register: subnet_id
  amazon.aws.ec2_vpc_subnet_info:
    region: "{{ region }}"
    filters:
      tag:Name: "{{ subnet_name }}"

- name: Setting vpc_subnet_id based on Lookup
  when: vpc_subnet_id is undefined
  ansible.builtin.set_fact:
    vpc_subnet_id: "{{ subnet_id.subnets[0].id }}"

- name: Creating machine instance
  register: ec2_vms
  amazon.aws.ec2_instance:
    name: Linux Daily Demo
    region: "{{ region }}"
    state: running
    key_name: "{{ my_ssh_key }}"
    vpc_subnet_id: "{{ vpc_subnet_id }}"
    instance_type: "{{ instance_type }}"
    security_group: "{{ ec2_security_group_name }}"
    network:
      assign_public_ip: "{{ assign_public_ip }}"
    image_id: "{{ image }}"
    tags:
      Environment: linux-dailydemo
      AlwaysUp: "{{ alwaysup }}"
      Createdby: Ansible Controller
      Contact: "{{ my_email_address }}"
      DeletebBy: "{{ ec2_ansible_group }}"
    wait: true
    wait_timeout: 600

- name: Wait 300 seconds for port 22 to become open and contain "OpenSSH"
  loop: "{{ ec2_vms['instances'] }}"
  ansible.builtin.wait_for:
    port: 22
    host: "{{ item['public_ip_address'] }}"
    search_regex: OpenSSH
    delay: 10
