127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['rheldemo'] %}
{% if 'fqdn' in hostvars[host]['ansible_facts'] or 'hostname' in hostvars[host]['ansible_facts'] %}
{{ my_public_ip }} {{ hostvars[host]['ansible_facts']['nodename'] | default('') }} {{ hostvars[host]['ansible_facts']['hostname'] | default('') }}
{% endif %}
{% endfor %}